<ul>
    <%= for post <- @posts do%>
      <li><%= link post.title, to: permalink_path(@conn, post), class: "text-white underline hover:text-yellow-300"%></li>
    <% end %>
</ul>

<%= link gettext("More posts..."), to: Routes.archive_path(@conn, :index), class: "text-white pt-2 hover:text-yellow-300"%>