<%= for {tag, weight} <- @tag_cloud do %>
  <%= link tag, to: Routes.tags_archive_path(@conn, :index, [tag]), class: "inline-block bg-yellow-100 p-2", style: "font-size: #{trunc(weight)+8}pt;" %>
<% end %>